.oq{
    border-radius: 5px;
    width: 70px;
    height: 70px;
    background-color: #f5dfc3;
}
.qora{
    border-radius: 5px;
    width: 70px;
    height: 70px;
    background-color: #d3733a;
}
.asosiy{
    display: flex;
}

.container{
    width: 560px;
    height: 560px;
    border: 20px solid #f7d5a8;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}